<style>
    .lienzo {
        width: 100%;
        max-width: 500px;
        margin: auto;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .fila {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .cuadro {
        width: 90px;
        aspect-ratio: 1;
        border: 2px solid black;
        box-sizing: border-box;
    }

    @@media (max-width: 500px) {
        .cuadro {
            width: 70px;
        }

        .lienzo {
            gap: 20px;
        }

        .fila {
            gap: 20px;
        }
    }

    .mensaje {
        margin-top: 20px;
        padding: 15px 25px;
        border-radius: 8px;
        font-weight: bold;
        text-align: center;
        font-size: 18px;
        display: none; /* oculto al inicio */
    }

        .mensaje.ganar {
            background-color: #4CAF50;
            color: white;
        }

        .mensaje.perder {
            background-color: #F44336;
            color: white;
        }

        .mensaje.empate {
            background-color: #FFC107;
            color: black;
        }

</style>

<div class="lienzo">
    <h3 class="center">Piedra, Papel y Tijera</h3>
    <div class="fila">
        <div class="cuadro" id="cuadro-ale">
        </div>
    </div>
    <div class="fila">
        <div class="cuadro" id="cuadro-selec"></div>
    </div>
    <div class="fila">
        <div class="cuadro" id="btn-uno" onclick="miFuncion(1)">
            <img src="~/Images/piedra.jpg" alt="Piedra" style="width:100%; height:100%; object-fit:contain;" />
        </div>
        <div class="cuadro" id="btn-dos" onclick="miFuncion(2)">
            <img src="~/Images/papel.jpg" alt="Papel" style="width:100%; height:100%; object-fit:contain;" />
        </div>
        <div class="cuadro" id="btn-tres" onclick="miFuncion(3)">
            <img src="~/Images/tijera.png" alt="Tijera" style="width:100%; height:100%; object-fit:contain;" />
        </div>
    </div>
</div>
<div id="mensaje" class="mensaje"></div>


@section scripts {
    <script>

        $(document).ready(function () {
            $('#btn-uno').click(function () {
                console.log("Cuadro 1");
            })

            $('#btn-dos').click(function () {
                console.log("Cuadro 2");
            })

            $('#btn-tres').click(function () {
                console.log("Cuadro 3");
            })
        });

        function miFuncion(num) {
            var aleatorio = Math.floor(Math.random() * 3) + 1;
            debugger;

            var imagenes = {
                1: "@Url.Content("~/Images/piedra.jpg")",  //Url.Content("~") generá la ruta correcta
                2: "@Url.Content("~/Images/papel.jpg")",
                3: "@Url.Content("~/Images/tijera.png")"
            }

            $("#cuadro-selec").css({
                "background-image": "url('" + imagenes[num] + "')",
                "background-size": "cover",
                "background-position": "center"
            });

            $("#cuadro-ale").css({
                "background-image": "url('" + imagenes[aleatorio] + "')",
                "background-size": "cover",
                "background-position": "center"
            });

            setTimeout(function () {
                let mensaje = $("#mensaje");
                mensaje.removeClass("ganar perder empate"); // limpiar estilos previos

                if (num === aleatorio) {
                    //addClass para aplicar el estilo correcto y text para cambiar el mensaje.
                    mensaje.addClass("empate").text("¡Empate!").fadeIn();   //fadeIn animación suave
                } else if ((num === 1 && aleatorio === 3) || (num === 2 && aleatorio === 1) || (num === 3 && aleatorio === 2)) {
                    mensaje.addClass("ganar").text("🎉 ¡Ganaste!").fadeIn();
                } else {
                    mensaje.addClass("perder").text("😢 Perdiste").fadeIn();
                }

                setTimeout(() => mensaje.fadeOut(), 2000);

            }, 500);
        }
    </script>
}