<style>
    .lienzo {
        width: 100%;
        max-width: 500px;
        margin: auto;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .fila {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .cuadro {
        width: 90px;
        aspect-ratio: 1;
        border: 2px solid black;
        box-sizing: border-box;
    }

    @@media (max-width: 500px) {
        .cuadro {
            width: 70px;
        }

        .lienzo {
            gap: 20px;
        }

        .fila {
            gap: 20px;
        }
    }
</style>
<h3>Juego</h3>
<div class="lienzo">
    <div class="fila">
        <div class="cuadro">
            <img src="~/Images/negro.png" alt="Piedra" style="width:100%; height:100%; object-fit:contain;" />
        </div>
    </div>
    <div class="fila">
        <div class="cuadro" id="cuadro-selec"></div>
    </div>
    <div class="fila">
        <div class="cuadro" id="btn-uno" onclick="miFuncion(1)">
            <img src="~/Images/piedra.jpg" alt="Piedra" style="width:100%; height:100%; object-fit:contain;" />
        </div>
        <div class="cuadro" id="btn-dos" onclick="miFuncion(2)">
            <img src="~/Images/papel.jpg" alt="Papel" style="width:100%; height:100%; object-fit:contain;" />
        </div>
        <div class="cuadro" id="btn-tres" onclick="miFuncion(3)">
            <img src="~/Images/tijera.png" alt="Tijera" style="width:100%; height:100%; object-fit:contain;" />
        </div>
    </div>
</div>

@section scripts {
    <script>
        var aleatorio = Math.floor(Math.random() * 3) + 1;

        $(function () {
            console.log(aleatorio);
        });

        $(document).ready(function () {
            $('#btn-uno').click(function () {
                console.log("Cuadro 1");
            })

            $('#btn-dos').click(function () {
                console.log("Cuadro 2");
            })

            $('#btn-tres').click(function () {
                console.log("Cuadro 3");
            })
        });

        function miFuncion(num) {
            debugger;
            var imagenes = {
                1: "@Url.Content("~/Images/piedra.jpg")",  //Url.Content("~") generá la ruta correcta
                2: "@Url.Content("~/Images/papel.jpg")",
                3: "@Url.Content("~/Images/tijera.png")"
            }
            console.log("Se hizo clic en el botón " + imagenes[num]);

            $("#cuadro-selec").css({
                "background-image": "url('" + imagenes[num] + "')",
                "background-size": "cover",
                "background-position": "center"
            });
        }
    </script>
}